/* layout */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  /* flex-direction: column; */
  /* background-color: rgb(116, 88, 88); */
}

/* personal info */
.personal-info {
  position: relative;
  background-color: hsl(214deg 11% 19%);
  border-radius: 3px;
  padding: 1rem;
}
.personal-info__avatar {
  width: 15rem;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-top: 2rem;
  height: max-content;
}
.personal-info__avatar img {
  border: 0.5rem solid rgb(28, 34, 42);
  border-radius: 50%;
}
.personal-info__socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-top: 2rem;
}
.personal-info__socials div {
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.personal-info__socials .link {
  font-size: 0.8rem;
}
.contact-msg {
  position: relative;
  padding-bottom: 2rem;
}
.contact-msg::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.3rem;
  left: 0;
  width: 20vw;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
}
.personal-info__author {
  font-family: "Pacifico", cursive;
  letter-spacing: 4px;
  font-size: 2rem;
  text-align: center;
  margin-block: 1rem;
}
.personal-info__text {
  text-align: center;
  margin-block: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.personal-info-social {
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  color: #fff;
  transition: 0.2s;
}
.personal-info-social:hover {
  scale: 1.2;
}
.personal-info__follow {
  text-align: center;
  color: #fff;
}

@media (min-width: 700px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
