/* Quick read */
.section-title {
  position: relative;
  font-size: var(--font-size-sm);
  margin-bottom: 4rem;
}
.section-title::after {
  content: attr(data-name);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  opacity: 0.1;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  animation: section-title 6s infinite ease-in-out alternate;
}
@keyframes section-title {
  to {
    transform: translateX(3rem);
  }
}
