body.light-theme {
  --light-color: #3d3d3d;
  --attr-color: hsl(0, 0%, 0%);
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #e9e9e9;
  --archives-color: hsl(0, 0%, 87%);
  --archive-section: linear-gradient(
    116deg,
    rgb(231, 231, 231),
    hsl(213, 7%, 67%)
  );
  --newsletter-color: #e6e6e6;
  --overlay-color: hsla(0, 0%, 100%, 0.4);
  --input-color: hsla(0, 0%, 100%, 0.4);
  --hover-light-color: #fff;
  --transparent-dark-color: var(--secondary-background-color);
  --transparent-light-color: rgba(0, 0, 0, 0.1);
  --blog-section: linear-gradient(116deg, rgb(214 214 255), hsl(0deg 0% 100%));
}

/* Header JavaScript Styles */

.menu.activated {
  opacity: 1;
  transform: scale(1);
}
.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}
.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}
/* search */
.search-form-container.activated {
  opacity: 1;
  transform: scale(1);
}
/* ovelray */

.overlay {
  position: fixed;
  z-index: 15;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.502);
  animation: overlay 0.5s forwards;
  cursor: pointer;
}
@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* scroll to top */

.scroll-to-top__wrapper.active {
  pointer-events: visible;
  opacity: 1;
}

.socials.active {
  transform: translateY(-50%) translateX(0px);
}

/* progress scroll tracker */

.indicator-scroll-line {
  border: 2px solid rgb(64, 203, 64);
  box-shadow: 0 0 10px 2px rgba(50, 205, 50, 0.773);
  width: 100%;
}

/* intro msg */

.intro-msg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(225, 10%, 8%);
  display: grid;
  place-items: center;
  z-index: 1000;
  text-align: center;
}
.intro__welcome-msg {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.intro__heading {
  font-size: clamp(2rem, 6vw, 3.5rem);
}
.intro__img {
  max-width: 12rem;
}

/* Intersection observer */

/* animations */

.hidden {
  opacity: 0;
  transition: 2s;
  transform: translatex(60%);
}
.show {
  opacity: 1;
  transform: translatex(0);
}
